@{
    ViewBag.Title = "Kiểm tra đơn thuê";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ThueXeMay.Models.bill
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../content/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="~/Home">Trang Chủ <i class="ion-ios-arrow-forward"></i></a></span></p>
                <h1 class="mb-3 bread">Kiểm tra đơn thuê</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <br />
        <h1 class="page-heading bottom-indent">Trạng thái đơn thuê</h1>
        @if (ViewBag.trangthai == "Đơn đang thuê!!!")
        {
            <h3 style="color:green">Trạng thái đơn: @ViewBag.trangthai<br />Thời gian bắt đầu tính giờ: @Model.date_start <br /> Giá tiền/giờ: @Model.money_hour</h3>
        }
        else
        {
            <h3 style="color:darkred">Trạng thái đơn: @ViewBag.trangthai</h3>
        }
        </div>
</section>