@model ThueXeMay.Models.contact
@{
    ViewBag.Title = "ContactAdmin";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@{
    var admin = Session["UserAdmin"] as ThueXeMay.Models.employee;
}
@if (admin.fulControl == true)
{
    <a href="@Url.Action("EditBank", "Home")" class="btn btn-warning btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span class="text">Sửa</span>
    </a>
    <br />
    <br />

    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Mã BIN ngân hàng:
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.bank_bin</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Số tài khoản:
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.bank_number</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Họ và tên:
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.bank_name</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-user fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2 style="text-align:center;color:red">Bạn không đủ quyền truy cập phần này!!!</h2>

}
