@model ThueXeMay.Models.type

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="card mb-4">
    <div class="card-header" style="color: #0061f2"><b>Thay đổi tỉ giá ngày, tháng</b></div>
    <div class="card-body">
        @using (Html.BeginForm("Tigia", "types", FormMethod.Post))
        {
            <div class="mb-3">
                <label class="small mb-1" for="confirmPassword">Tỉ giá ngày/giờ</label>
                <input class="form-control" name="day" type="number" required placeholder="Hiện tại: @Model.price_day">
            </div>
            <div class="mb-3">
                <label class="small mb-1" for="confirmPassword">Tỉ giá tháng/ngày</label>
                <input class="form-control" required name="month" type="number" placeholder="Hiện tại: @Model.price_month">
            </div>
            <button class="btn btn-primary" type="submit">Xác nhận</button>
        }
    </div>
</div>


<div>
    @Html.ActionLink("Trở về", "Index","Home")
</div>
